html {
  font-size: .9rem;
}

@media (min-width: 600px) {
	html {
		font-size: 1.3125rem;
	}
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

img {
  max-width: 100%;
  height: 275px;
	border: 10px solid hsl(0, 30%, 20%);
	border-radius: 50%;
}

.container {
  max-width: 570px;
  margin: 0 auto;
}

/* Typography */

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  font-size: 2.625rem;
  margin-top: 0;
  padding: .5em 0;
  margin-bottom: .5em;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0;
}

.accent-text {
  display: block;
}

.accent-text,
.name,
time {
  font-weight: 900;
  color: #99d930;
}

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
}

p {
  margin-bottom: 0;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: lightgray;
}

a:active {
  color: firebrick;
}

.small-text {
  font-size: 1rem;
  margin-top: .3125em;
}

header,
section {
  padding: 6.25em 0;
}

.inverse {
  background: hsl(0, 0%, 15%);
  color: #fff;
}

/* button styles */

.btn {
	display: inline-block;
  color: #252525;
  background: #99d930;
  text-decoration: none;
  padding: .625em 1.5625em;
  margin-top: 2.8125em;
  border: 3px solid #99d930;
  border-radius: 50px;
	transform: scale(1);
	transition: transform 250ms;
}

.btn:hover,
.btn:focus {
	background: #252525;
  color: #fff;
	transform: scale(1.05);
}

.inverse .btn:hover,
.inverse .btn:focus {
	background: #fff;
	color: #252525;
	transform: scale(1.05);
}

.inverse .btn:active,
.btn:active {
	background: #99d930;
	color: #252525;
	transform: scale(1);
}