body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  font-weight: 300;
  margin: 0;
}

img {
  width: 275px;
  height: 275px;
	border-radius: 50%;
}

.container {
  max-width: 570px;
  margin: 0 auto;
}

/* Typography */

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  font-size: 2.625rem;
  margin-top: 0;
  padding: .5em 0;
  margin-bottom: .5em;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0;
}

.accent-text {
  display: block;
}

.accent-text,
.name,
time {
  font-weight: 900;
  color: #99d930;
}

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
}

p {
  margin-bottom: 0;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: lightgray;
}

a:active {
  color: firebrick;
}

.small-text {
  font-size: 1rem;
  margin-top: .3125em;
}

header,
section {
  padding: 100px 0;
}

.inverse {
  background: #252525;
  color: #fff;
}

.about-me {
  background-color: #fff;
  color: #252525;
}

/* button styles */

.inverse .btn:hover,
.inverse .btn:focus {
  background: #fff;
  color: #252525;
}

.inverse .btn:active {
  background: gray;
  color: #252525;
}

.btn {
  display: inline-block;
  color: #252525;
  background: #99d930;
  text-decoration: none;
  padding: 10px 25px;
  margin-top: 45px;
  border: 3px solid #99d930;
  border-radius: 50px;
}

.btn:hover,
.btn:focus {
  background: #252525;
  color: #fff;
}

.btn:active {
  background: gray;
  color: #252525;
}